<div class="col-lg-3">
    <h2>Eintrag hinzufügen</h2>

    <form action="/comment/add" method="post" id="addComment">
        <label for="name">Name<br/>
        </label>
        <input class="form-control" type="text" id="name" name="guestbook[name]"/><br/>
        <label for="place">Ort<br/>
        </label>
        <input class="form-control" type="text" id="place" name="guestbook[place]"/><br/>
        <label for="email">E-Mail<br/>
        </label><input class="form-control" type="text" id="email" name="guestbook[email]"/><br/>
        <label for="url">URL<br/>
        </label> <input class="form-control" type="text" id="url" name="guestbook[url]"/><br/>
        <label for="comment">Kommentar </label><br/>
        <textarea class="form-control" rows="5" cols="10" id="comment" name="guestbook[comment]"></textarea>
        <br/>

        <div class="alert alert-danger error" style="display: none"></div>
        <button class="btn btn-success send-comment" type="submit" value="Eintragen" name="submit">Eintragen</button>
    </form>
</div>