/* ==========================================================================
   Author's custom styles
   ========================================================================== */

input, button, .form-control, .btn {
    border-radius: 0;
}

.send-comment {
    -webkit-transition: 0.5s background;
    -moz-transition: 0.5s background;
    -ms-transition: 0.5s background;
    -o-transition: 0.5s background;
    transition: 0.5s background;
    padding-left: 10px;
    display: block;
}

p {
    margin: 10px 0;
}

.js-comment-fadein {
    display: none;
}